# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Backend artifacts
apps/backend/dist
apps/backend/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode
.idea
apps/frontend/lint_log_final.txt
apps/frontend/lint_log.txt
